In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
file_name = Path('../MasterData/credit_card_transactions-ibm_v2.csv')
df = pd.read_csv(file_name)
df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [68]:
df.shape

(24386900, 15)

In [94]:
year=2016

In [95]:
df_yr = df.loc[df['Year']==year]

In [96]:
df_yr_fraud = df_yr.groupby(['User','Is Fraud?']).count().reset_index()[['User','Is Fraud?']]

In [97]:
ids = df_yr_fraud[df_yr_fraud['Is Fraud?']=='Yes']['User']

In [98]:
df_yr_clean = df_yr.loc[df_yr['User'].isin(ids)]

In [99]:
df_yr_clean['Is Fraud?'].value_counts()

No     919423
Yes      3579
Name: Is Fraud?, dtype: int64

In [100]:
df_yr_clean['User'].nunique()

787

In [101]:
df_yr_clean.to_csv(f'./Data/data_{year}.csv')